pipeline/Test.json
{
	"name": "Test",
	"properties": {
		"activities": [
			{
				"name": "spSelectAll",
				"description": "spSelectAll",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spSelectAll]"
				},
				"linkedServiceName": {
					"referenceName": "VijKu",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CountGrtThan4",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "spSelectAll",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('spSelectAll').output,variables('CountofRecords'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "WaitFalse",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WaitTrue",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Set Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CountGrtThan4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CountofRecords",
					"value": {
						"value": "@activity('spSelectAll').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"CountofRecords": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}