vijkuadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vijkuadf"
		},
		"integrationRuntime_VijKuIR": {
			"type": "string",
			"metadata": "Integration runtime name",
			"defaultValue": "VijKuIR"
		},
		"VijKu_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'VijKu'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "spSelectAll",
						"description": "spSelectAll",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spSelectAll]"
						},
						"linkedServiceName": {
							"referenceName": "VijKu",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CountGrtThan4",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "spSelectAll",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "1+1",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Count",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CountGrtThan4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CountofRecords",
							"value": {
								"value": "@activity('spSelectAll').output",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"CountofRecords": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VijKu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VijKu",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Test",
						"type": "nchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TestTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VijKu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VijKu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('VijKu_connectionString')]"
				},
				"connectVia": {
					"referenceName": "[parameters('integrationRuntime_VijKuIR')]",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/', parameters('integrationRuntime_VijKuIR'))]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/', parameters('integrationRuntime_VijKuIR'))]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}