vijkuadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "vijkuadf"
		},
		"integrationRuntime_VijKuIR": {
			"type": "string",
			"metadata": "Integration runtime name",
			"defaultValue": "VijKuIR"
		},
		"VijKu_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'VijKu'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "spSelectAll",
						"description": "spSelectAll",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spSelectAll]"
						},
						"linkedServiceName": {
							"referenceName": "VijKu",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CountGrtThan4",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "spSelectAll",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(string(activity('spSelectAll').output), string(variables('CountofRecords')))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "WaitFalse",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "WaitTrue",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					},
					{
						"name": "On Success of If",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CountGrtThan4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CountofRecords",
							"value": {
								"value": "@string(activity('spSelectAll').output)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DividebyZeroError",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "spSelectAll",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "BEGIN TRY\n    -- Generate a divide-by-zero error.\n    SELECT 1/0;\nEND TRY\nBEGIN CATCH\n    Raiserror('Dead', 15, 102)\nEND CATCH;"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Test",
											"type": "String"
										},
										"sink": {
											"name": "Test",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ID",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "TestTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TestTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "On Success of DividebyZeroError",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DividebyZeroError",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CountofRecords",
							"value": "3"
						}
					},
					{
						"name": "On Completion",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DividebyZeroError",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CountofRecords",
							"value": "2"
						}
					},
					{
						"name": "On Failure",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DividebyZeroError",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CountofRecords",
							"value": "1"
						}
					}
				],
				"variables": {
					"CountofRecords": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VijKu')]",
				"[concat(variables('factoryId'), '/datasets/TestTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VijKu",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Test",
						"type": "nchar"
					},
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TestTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VijKu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VijKu')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('VijKu_connectionString')]"
				},
				"connectVia": {
					"referenceName": "[parameters('integrationRuntime_VijKuIR')]",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/', parameters('integrationRuntime_VijKuIR'))]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/', parameters('integrationRuntime_VijKuIR'))]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Test",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2019-10-09T09:48:00.000Z",
						"endTime": "2019-10-10T09:55:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Test')]"
			]
		}
	]
}